body {
  background-color: #dcdcd0;
  padding: 0;
  margin: 0;
  font-family: monospace;


}

/* navbar */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: monospace;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

/* navbar end */
/* dropdown1 */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: white;
  padding: 8px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #4d4d4d;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: monospace;
}

.dropdown-content a:hover {
  background-color: #666666;
}

.show {
  display: block;
}

/* dropdown1 end */

/* Dock */
.dock {
  border-left: 70px solid #4d4d4d;
  height: 95vh;

}




/* Dock end */
