body {
  width: 100%;
  background-color: #411040;
}

.container {
    float: right;
  margin-right: 20%;
  margin-top: 20%;
  }

.Amigafloppy {

  position: relative;
  animation-name: bootdisk;
  animation-duration: 4s;
}

@keyframes bootdisk {

}
