@media only screen and (min-width: 600px) {

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #e4dcc9;
    margin: 0;
    padding: 0;
    cursor: none;
}

#container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #eceaea;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

h3 {
    text-align: center;
    color: #333;
}

#word {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 90px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; /* Add some bottom margin to separate from the button */
    cursor: none;
}

button#checkButton {
  width: auto;
  position: relative;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #f39c12;
  background: #e67e22;
  text-align: center;
  padding: 16px 18px 14px;
  margin: 12px;
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
  cursor: none;
}

button#checkButton:hover {
    background-color: #e67e22;
    transform: translateY(-2px); /* Move the button slightly up */
    -webkit-box-shadow: 0px 6px 0px #d35400;
    -moz-box-shadow: 0px 6px 0px #d35400;
    box-shadow: 0px 6px 0px #d35400;
    cursor: none;
}

button#checkButton:active {
    background-color: #e67e22;
    transform: translateY(2px); /* Move the button slightly down */
    box-shadow: none; /* Remove shadow on active state */
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    cursor: none;
    -webkit-box-shadow: 0px 6px 0px #d35400;
    -moz-box-shadow: 0px 6px 0px #d35400;
    box-shadow: 0px 1px 0px #d35400;

}

button#skipButton {
  width: auto;
  position: relative;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px rgb(198, 4, 4);
  background: red;
  text-align: center;
  padding: 16px 18px 14px;
  margin: 12px;
  -webkit-box-shadow: 0px 6px 0px rgb(198, 4, 4);
  -moz-box-shadow: 0px 6px 0px rgb(198, 4, 4);
  box-shadow: 0px 6px 0px rgb(198, 4, 4);
  cursor: none;
}

button#skipButton:hover {
    background-color: red;
    transform: translateY(-2px); /* Move the button slightly up */
    -webkit-box-shadow: 0px 6px 0px rgb(198, 4, 4);
    -moz-box-shadow: 0px 6px 0px rgb(198, 4, 4);
    box-shadow: 0px 6px 0px rgb(198, 4, 4);
    cursor: none;
}
button#skipButton:active {
    background-color: red;
    transform: translateY(2px); /* Move the button slightly down */
    box-shadow: none; /* Remove shadow on active state */
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    cursor: none;
    -webkit-box-shadow: 0px 6px 0px rgb(198, 4, 4);
    -moz-box-shadow: 0px 6px 0px rgb(198, 4, 4);
    box-shadow: 0px 1px 0px rgb(198, 4, 4);
}

button[type="submit"] {
    width: auto;
    position: relative;
    color: #ecf0f1;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px rgb(0, 0, 151);
    background: blue;
    text-align: center;
    padding: 16px 18px 14px;
    margin: 12px;
    -webkit-box-shadow: 0px 6px 0px rgb(0, 0, 151);
    -moz-box-shadow: 0px 6px 0px rgb(0, 0, 151);
    box-shadow: 0px 6px 0px rgb(0, 0, 151);
    cursor: none;
}

button[type="submit"]:hover {
    background-color: blue;
    transform: translateY(-2px); /* Move the button slightly up */
    -webkit-box-shadow: 0px 6px 0px rgb(0, 0, 151);
    -moz-box-shadow: 0px 6px 0px rgb(0, 0, 151);
    box-shadow: 0px 6px 0px rgb(0, 0, 151);
    cursor: none;
}

button[type="submit"]:active {
    background-color: blue;
    transform: translateY(2px); /* Move the button slightly down */
    box-shadow: none; /* Remove shadow on active state */
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    cursor: none;
    -webkit-box-shadow: 0px 6px 0px rgb(0, 0, 151);
    -moz-box-shadow: 0px 6px 0px rgb(0, 0, 151);
    box-shadow: 0px 1px 0px rgb(0, 0, 151);
}

button#resetButton {
    width: auto;
    position: relative;
    color: #ecf0f1;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px rgb(198, 4, 4);
    background: red;
    text-align: center;
    padding: 16px 18px 14px;
    margin: 12px;
    -webkit-box-shadow: 0px 6px 0px rgb(198, 4, 4);
    -moz-box-shadow: 0px 6px 0px rgb(198, 4, 4);
    box-shadow: 0px 6px 0px rgb(198, 4, 4);
    cursor: none;
  }
  
  button#resetButton:hover {
      background-color: red;
      transform: translateY(-2px); /* Move the button slightly up */
      -webkit-box-shadow: 0px 6px 0px rgb(198, 4, 4);
      -moz-box-shadow: 0px 6px 0px rgb(198, 4, 4);
      box-shadow: 0px 6px 0px rgb(198, 4, 4);
      cursor: none;
  }
  button#resetButton:active {
      background-color: red;
      transform: translateY(2px); /* Move the button slightly down */
      box-shadow: none; /* Remove shadow on active state */
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      transition: all 0.1s;
      cursor: none;
      -webkit-box-shadow: 0px 6px 0px rgb(198, 4, 4);
      -moz-box-shadow: 0px 6px 0px rgb(198, 4, 4);
      box-shadow: 0px 1px 0px rgb(198, 4, 4);


p#result {
    text-align: center;
    color: #333;
    font-size: 18px;
    margin-top: 10px;
}

p#score {
    text-align: center;
    color: #333;
    font-size: 18px;
    margin-top: 20px;
}

/* CSS Styling for Modal */
.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#teamNameInputModal {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

#submitScoreButtonModal {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#submitScoreButtonModal:hover {
  background-color: #45a049;
}





  
}


}


/* ===============================================================
   ========================Mobile View============================
   =============================================================== */
@media only screen and (max-width: 600px) {


body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  cursor: default; 
}

#cursor {
  visibility: hidden;
}

#container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  text-align: center;
  color: #333;
}

h3 {
  text-align: center;
  color: #333;
}

#word {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"] {
  width: calc(100% - 90px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px; /* Add some bottom margin to separate from the button */
  
}

button#checkButton {
width: auto;
position: relative;
color: #ecf0f1;
text-decoration: none;
border-radius: 5px;
border: solid 1px #f39c12;
background: #e67e22;
text-align: center;
padding: 16px 18px 14px;
margin: 12px;
-webkit-box-shadow: 0px 6px 0px #d35400;
-moz-box-shadow: 0px 6px 0px #d35400;
box-shadow: 0px 6px 0px #d35400;

}

button#checkButton:hover {
  background-color: #e67e22;
  transform: translateY(-2px); /* Move the button slightly up */
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
  
}

button#checkButton:active {
  background-color: #e67e22;
  transform: translateY(2px); /* Move the button slightly down */
  box-shadow: none; /* Remove shadow on active state */
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
 
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 1px 0px #d35400;

}

button#skipButton {
width: auto;
position: relative;
color: #ecf0f1;
text-decoration: none;
border-radius: 5px;
border: solid 1px rgb(198, 4, 4);
background: red;
text-align: center;
padding: 16px 18px 14px;
margin: 12px;
-webkit-box-shadow: 0px 6px 0px rgb(198, 4, 4);
-moz-box-shadow: 0px 6px 0px rgb(198, 4, 4);
box-shadow: 0px 6px 0px rgb(198, 4, 4);

}

button#skipButton:hover {
  background-color: red;
  transform: translateY(-2px); /* Move the button slightly up */
  -webkit-box-shadow: 0px 6px 0px rgb(198, 4, 4);
  -moz-box-shadow: 0px 6px 0px rgb(198, 4, 4);
  box-shadow: 0px 6px 0px rgb(198, 4, 4);
  
}
button#skipButton:active {
  background-color: red;
  transform: translateY(2px); /* Move the button slightly down */
  box-shadow: none; /* Remove shadow on active state */
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  
  -webkit-box-shadow: 0px 6px 0px rgb(198, 4, 4);
  -moz-box-shadow: 0px 6px 0px rgb(198, 4, 4);
  box-shadow: 0px 1px 0px rgb(198, 4, 4);
}

button[type="submit"] {
  width: auto;
  position: relative;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px rgb(0, 0, 151);
  background: blue;
  text-align: center;
  padding: 16px 18px 14px;
  margin: 12px;
  -webkit-box-shadow: 0px 6px 0px rgb(0, 0, 151);
  -moz-box-shadow: 0px 6px 0px rgb(0, 0, 151);
  box-shadow: 0px 6px 0px rgb(0, 0, 151);
  
}

button[type="submit"]:hover {
  background-color: blue;
  transform: translateY(-2px); /* Move the button slightly up */
  -webkit-box-shadow: 0px 6px 0px rgb(0, 0, 151);
  -moz-box-shadow: 0px 6px 0px rgb(0, 0, 151);
  box-shadow: 0px 6px 0px rgb(0, 0, 151);
 
}

button[type="submit"]:active {
  background-color: blue;
  transform: translateY(2px); /* Move the button slightly down */
  box-shadow: none; /* Remove shadow on active state */
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  
  -webkit-box-shadow: 0px 6px 0px rgb(0, 0, 151);
  -moz-box-shadow: 0px 6px 0px rgb(0, 0, 151);
  box-shadow: 0px 1px 0px rgb(0, 0, 151);
}

button#resetButton {
  width: auto;
  position: relative;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px rgb(198, 4, 4);
  background: red;
  text-align: center;
  padding: 16px 18px 14px;
  margin: 12px;
  -webkit-box-shadow: 0px 6px 0px rgb(198, 4, 4);
  -moz-box-shadow: 0px 6px 0px rgb(198, 4, 4);
  box-shadow: 0px 6px 0px rgb(198, 4, 4);
  
}

button#resetButton:hover {
    background-color: red;
    transform: translateY(-2px); /* Move the button slightly up */
    -webkit-box-shadow: 0px 6px 0px rgb(198, 4, 4);
    -moz-box-shadow: 0px 6px 0px rgb(198, 4, 4);
    box-shadow: 0px 6px 0px rgb(198, 4, 4);
   
}
button#resetButton:active {
    background-color: red;
    transform: translateY(2px); /* Move the button slightly down */
    box-shadow: none; /* Remove shadow on active state */
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    
    -webkit-box-shadow: 0px 6px 0px rgb(198, 4, 4);
    -moz-box-shadow: 0px 6px 0px rgb(198, 4, 4);
    box-shadow: 0px 1px 0px rgb(198, 4, 4);


p#result {
  text-align: center;
  color: #333;
  font-size: 18px;
  margin-top: 10px;
}

p#score {
  text-align: center;
  color: #333;
  font-size: 18px;
  margin-top: 20px;
}


/*======= Buttons ==========*/
.button {
  font-family: 'IBM Plex Mono', monospace;
  position: relative;
  display: inline-block;
  color: #ecf0f1;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #f39c12;
  background: #e67e22;
  text-align: center;
  padding: 16px 18px 14px;
  margin: 12px;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.2s ease;
  box-shadow: 0px 6px 0px #d35400;
  cursor: none;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 0px #d35400;
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 0px #d35400;
}

.button-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}

#back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 24px;
  cursor: none;
  border-radius: 100px;
}




}}

@media (max-width: 768px) {
  body {
      cursor: auto; /* Default cursor for mobile devices */
  }
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    cursor: none;
}

.modal-content {
    background-color: #e4dcc9;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 400px;
    border-radius: 10px;
    cursor: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: none;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: none;
}